h1{
    background-color: rgb(252, 175, 216);
    color:black;
    font-family: cursive;
    width:600px;
    height:50px;
    border:5px solid rgb(75, 25, 52);
    border-radius:13px;
}
canvas {
    border:1px solid black;
    animation-name:anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes anime{
    /* from{box-shadow: 10px 10px 10px lightblue;}
    to{box-shadow:10px 10px 10px lightcoral;} */
    0% {background-color: cadetblue;box-shadow: 10px 10px 10px rgb(64, 130, 152)}
    25%{background-color: coral;box-shadow: -10px 10px 10px lightcoral}
    50%{background-color: pink;box-shadow: -10px -10px 10px palevioletred}
    75%{background-color: rgb(230, 155, 230);box-shadow: 10px -10px 10px purple}
    100% {background-color: paleturquoise;box-shadow: 10px 10px 10px rgb(25, 65, 79)}
}